{% extends "base.html" %}

{% block announce %}
  Declarative Gradle EAP 2 is live. <a href="https://blog.gradle.org/declarative-gradle-november-2024-update">Try it out and share feedback!</a>
{% endblock %}


{% block scripts %}
  {{ super() }}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRTQKGT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}
